*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: azure;
}
#content{
    padding: 50px;
    border: 1px solid #0275d8;
    height: 100vh;
}
h1{
    color: darkblue;
    font-family: sans-serif;
}
Label{
    color:  darkblue;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
}
table{
    margin-top: 30px;
}
th{
    color: #0275d8;
}